import turtle
x = turtle.Turtle()
y = turtle.screen()
y.bgcolor("red")
for i in range(5):
    x.dot()
    x.forward(100)
    x.left(60)

#yıldız ekleme
for i in range(5):
    x.pencolor("white")
    x.right(55)
    
    
#kalem rengi
x.pencolor("red")
x.goto(-180, 120)
x.pencolor("white")
for i in range(30):
    x.backward(19)
    x.left(8)
    
    
for a in range(62):
    x.forward(16)
    x.right(5)


for geri in range(4):
    x.left(18)
    x.backward(30)
    

turtle.done
